[Unit]
Description=Jarda-Wenshu-Backend-Service
Wants=network-online.target
After=network-online.target

[Service]
Type=forking

StandardOutput=journal
StandardError=inherit

# 指定此进程可以打开的最大文件描述符数量
LimitNOFILE=400000

# 指定虚拟内存的最大大小
LimitAS=infinity

# 指定最大文件大小
LimitFSIZE=infinity

# 服务运行的工作目录
WorkingDirectory=__SERVER_DIR__

# 服务运行的用户和组
User=coolkit
Group=coolkit

# 启动脚本
ExecStart=__SERVER_DIR__/start.sh

# 设置该服务允许的最大启动时长
# 如果进程未能在限定的时长内发出"启动完毕"的信号，那么该服务将被视为启动失败，并会被关闭
TimeoutStartSec=180

# 设置停止服务时发送使用什么信号
# 注意，systemd会无条件的紧跟此信号之后再发送一个SIGCONT信号，以确保干净的杀死已挂起(suspended)的进程
KillSignal=SIGTERM

# 停止服务时的等待的秒数，如果超过这个时间服务仍然没有停止，systemd 会使用 SIGKILL 信号强行杀死服务的进程
TimeoutStopSec=300

# 杀死进程的方法，process表示仅杀死主进程
KillMode=process

# 当JVM收到SIGTERM信号并正常退出后，退出代码为143
# 这里设置143也视为正常的退出代码
SuccessExitStatus=143

# 非正常关闭时自动重启应用
Restart=on-failure
# 延时一分钟重启
RestartSec=60

[Install]
WantedBy=multi-user.target